/* div { */
  /* border: 1px solid red; */
/* } */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	 background-image: url(img/bg.png);
}

header
{
	background-color: #262626;
	margin: 0px 0px 15px 0px;
	box-shadow: 5px 10px 8px #888888;
}

.inputField {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	border-radius:6px;
	border:3px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:18px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin:10px;
}
.button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:18px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin:10px;
}
.button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.button:active {
	position:relative;
	top:1px;
}

li
{
	list-style: none;
}

a.nav-branding, a.nav-link
{
	color: white;
	text-decoration: none;
}

.bigImg
{
	width:450px;
	height:450px;
	object-fit: contain;
	margin:10px;
}

.imgBorder {
	width:450px;
	height:450px;
	object-fit: contain;
	margin:10px;

  padding: 15px 15px 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  border: 1px solid black;
}
figure:hover+span {
  bottom: -36px;
  opacity: 1;
}


.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#dcdcdc!important}

.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#FFF!important;background-color:#262626!important}

.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}

.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.content
{
	margin: 20px 150px 20px 150px;
	font-size: 22px;
}

.row1
{
	margin: 30px;
	text-align: center;
}

h1,h2,h3 {
	display: flex;
	flex-direction: row;
	margin-top:10px;
	margin-bottom:10px;
}
h1:before,h1:after,h2:before,h2:after,h3:before,h3:after{
	content: "";
	flex: 1 1;
	border-bottom: 1px solid;
	margin: auto;
}
h1:before,h2:before,h3:before {
	margin-right: 10px
}
h1:after,h2:after,h3:after {
	margin-left: 10px
}

.two-cols
{
	text-align: center;
	display:flex;
	justify-content:center;
	padding:20px;
}

#left-col
{
	margin-right: 5%;
}

#right-col
{
	margin-left: 5%;
	width: 60%;
}

li
{
	text-align:left;
}

.navbar
{
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}

.nav-menu
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.nav-branding
{
	font-size: 2rem;
}

.nav-link
{
	font-size: 20px;
	transition: 0.7s ease;
}

.nav-link:hover
{
	color: dodgerblue;
}

.contact-link
{
	font-size: 20px;
	transition: 0.7s ease;
	text-align: center;
}

.contact-link:hover
{
	color: dodgerblue;
}

.hamburger
{
	display: none;
	cursor: pointer;
}

.bar
{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.icons
{
	display:inline-block;
	background-color: #fafafa;
	height:200px;
	width: 190px;
	margin:2	0px;
	border: 3px solid #dcdcdc;
	border-radius: 15px;
}

.imgClass
{
	display: block;
	margin-left: auto;
  margin-right: auto;
	height:100px;
	width:100px;
}

.weather
{
	margin:5px;
	text-align:center;
	font-weight: bold;
}

.tempValues
{
	float:left;
	text-align:center;
	display: inline-block;
	border-radius: 5px;
	height:25px;
	width:85px;
	margin:0;
	margin-bottom:5px;
	margin-left: 5px;
}

@media(max-width:1280px)
{
	.content
	{
		margin: 0px 50px 0px 50px;
		font-size: 18px;
	}

	.imgBorder
	{
		width: auto;
	}
}

.row1
{
	margin: 0px;
}

@media(max-width:768px)
{
	div
	{
		line-height:30px;
	}

	.content
	{
		margin: 5px 5px 25px 5px;
	}

	.two-cols
	{
		flex-direction: column;
		justify-content:start;
	}

	#left-col
	{
		margin-right: 0%;
	}

	#right-col
	{
		margin-left: 0%;
		width: 100%;
	}

	.column {
		width:99%;
	}

	.hamburger
	{
		display: block;
	}

	.hamburger.active .bar:nth-child(2)
	{
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1)
	{
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3)
	{
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu
	{
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.nav-item
	{
		margin: 16px 0;
	}

	.nav-menu.active
	{
		left: 0;
	}
}
